@model CategoryListViewModel

@{
    ViewBag.Title = "title";
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Category List</h1>

<ul class="list-group">
    @foreach(var category in Model.Categories)
    {
        <li class="list-group-item">@category.CategoryName</li>
    }
</ul>

